<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<HR>
<p><a href="/">返回主页</a></p>
<hr>
    <form action="/commit/?id={{ id }}" method="post">

    <table border="1">
    <tr>
        {% for each in data %}
            <th>{{ each }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for col,each in data3 %}
            <td><input type="text" name="{{ col }}" value="{{ each }}" style="width: 100%;height: 40px"></td>
        {% endfor %}
    </tr>

    </table>
    {% csrf_token %}
    <button type="submit">提交保存</button>

    </form>




</body>
</html>