<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div style="width: 20%;margin: auto;background-color: #bbd8e5">
        <h2 style="text-align: center">登陆</h2>
        <form action="/login" method="post">
            <div style="margin: auto">
                <a>学号:</a><input type="text" name="username">

                <br>
                <a>密码:</a><input type="password" name="password">
                <hr>
                {% csrf_token %}
                <button type="submit" style="width: 100%">登陆</button>

            </div>
        </form>

    </div>

    <div style="width: 20%;margin: auto">
                <button onclick="location.href='/login/register'" style="width:100%">注册</button>
        </div>

</body>
</html>